@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Karla:ital,wght@0,200..800;1,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans' 'sans-serif';
    
}
:root{
    --dark_blue: hsl(233, 26%, 24%);
    --lime_green: hsl(136, 65%, 51%) ;
    --bright_cyan: hsl(192, 70%, 51%);
    --grayish_blue:hsl(233, 8%, 62%);
    --light_grayish_blue:hsl(220, 16%, 96%);
    --very_light_grey:hsl(0, 0%, 98%);
    --white:hsl(0, 0%, 100%);
}
p{
    font-size: 1.1rem;
}
.header{
    width: 100%;
    height: 100vh;
}
.navigation{
    background: var(--white);
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navigation >nav >ul >li{
    list-style: none;
    display: inline;
    margin-right: 1rem;
    position: relative;
}
.navigation >nav >ul >li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--bright_cyan);
    position: absolute;
    left: 0;
    bottom: -1rem;
    transition: all .4s ease-out;
}
.navigation >nav >ul >li:hover::after{
    width: 100%;
}
.navigation >nav >ul >li>a{
    text-decoration: none;
    color: var(--grayish_blue);
    padding-bottom: 1rem;
}
/* .navigation >nav >ul >li >a:hover{
    border-bottom: 2px solid var(--bright_cyan);
} */

button{
padding: 1rem 1.5rem;
background-image: linear-gradient(to right, var(--lime_green ), var(--bright_cyan));
color:var(--white);
border:none;
border-radius: 2rem;
cursor: pointer;
}
.main-header{
    background: var(--very_light_grey);
    display: flex;
    justify-content: space-between;
    background-image: url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 730px -150px;
    overflow: hidden;
}
.header-1{
    width: 40%;
    padding-left: 6rem;
    margin-top: 6rem;
}
.header-1 >h1{
    font-size: 3rem;
}
.header-2{
    width: 60%;
}
.header-2 >img{
    width: 70%;
    float: right;  
    margin-right: -12%;
        margin-top: -10%; 
}
.section-1{
    width: 100%;
    height: 100vh;
    background-color: var(--light_grayish_blue);
    margin-top: -10%;
    padding: 2rem 6rem;
}
.section-1 > h1{
    margin-top: 2rem;
    font-weight: 300;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: var(--dark_blue);
}
.section-1-desc{
    color: var(--grayish_blue);
    margin-bottom: 1rem;
    width: 50%;
    line-height: 1.6rem;
}
.section-1-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 5%;

}
.section-1-content >img{
    margin-bottom: 1.5rem;
}
.section-1-content >h2{
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.section-1-content >p{
    color:var(--grayish_blue);
}
.section-2{
    width: 100%;
    height: 100vh;
    background: var(--very_light_grey);
}
.section-2 >h1{
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.section-2-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 2rem 6rem;
}

.section-2-content{
    width: 23%;
    background: var(--white);
}
.section-2-content >img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
    .section-2-content:nth-child(4){
        margin: 1rem;
}
    .author{
        color: var(--grayish_blue);
        margin: 1rem;
        font-size: 0.6rem;
    }
    .section-2-content >h1{
        font-weight: 400;
        margin: 0 1rem 1rem 1rem;
        font-size: 1.2rem;
    }
    .content-desc{
        color: var(--grayish_blue);
        margin: 0 1rem 1rem 1rem;
        font-size: 1rem;
    }
    


